.link {
    text-decoration: none;
    color: darkmagenta;
    margin: 10px;
}

.link:hover {
    color: #f8b334;
}
.active {
    color: greenyellow;
}
.block {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 60px;
    background: #c6ea17;
}
.header {
    display: flex;
    width: 300px;
    height: 60px;
    transition-duration: 500ms;
    transform: translate(-270px);
}
.header:hover {
    transition-duration: 500ms;
    transform: translate(-5px);
}